@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  scroll-behavior: smooth;
}

body {
  color: white;
  background: white;
  font-family: "Roboto", "Arial", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main-pr {
  background: url("../assets/hero-bg.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.active-btn {
  background-color: #2e7bff;
}

.active-mobilebtn {
  color: #2e7bff;
  background-color: white !important;
}

.btn-group button {
  border-color: white !important;
}

.cards .cards-box:nth-child(even) {
  display: flex;
  justify-content: end;
}

.cards .cards-box .card-container:hover {
  box-shadow: 0px 0px 6px 8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 6px 8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 6px 8px rgba(0, 0, 0, 0.75);
}

.cards .cards-box .card-container .link-btn:hover {
  transform: scale(1.1);
}

.cards .cards-box:nth-child(odd) .card-container {
  display: flex;
  justify-content: flex-end;
}

.cards .cards-box:nth-child(even) .card-container {
  display: flex;
  justify-content: flex-start;
}

.PhoneInputCountrySelect option {
  color: black;
}

.PhoneInputCountry input {
  autocomplete: off;
}

.PhoneInputInput {
  background-color: transparent;
  outline: none;
}

.contact {
  background: url("../assets/hero-bg.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer {
  background: url("../assets/footer-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.solve-card:hover {
  background-image: linear-gradient(
    180deg,
    #b2cbf5 0%,
    #e9a3f6 100%
  ) !important;
}

.swiper-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 50px !important;
}

.swiper-slide {
  margin-right: 25px !important;
  margin-left: 25px !important;
  width: 250px !important;
}

.swiper-slide-active {
  transform: scale(3);
}

/* Range Slide */
.horizontal-slider .example-track {
  height: 6px;
  border-radius: 50px;
}

.example-track.example-track-0,
.example-track.example-track-1,
.example-track.example-track-2 {
  background: white;
}

.horizontal-slider .example-thumb {
  position: absolute;
  top: -9px;
  width: 23px;
  height: 23px;
  background-color: #2e7bff;
  cursor: pointer;
  border-radius: 50%;
  will-change: left;
}

.horizontal-slider .example-thumb-0 {
  left: 50px;
}

.horizontal-slider .example-thumb-1 {
  display: none;
}

.horizontal-slider .example-thumb:focus-visible {
  outline: none;
}

@media (max-width: 1024px) {
  .cards .cards-box {
    display: flex;
    justify-content: center !important;
  }

  .cards .cards-box .card-container {
    display: flex;
    justify-content: center !important;
  }

  .cards .cards-box .card-container .card-content .card-numbers {
    margin-left: -70px;
  }

  span {
    display: none;
  }
}

@media (max-width: 768px) {
  .nav-list {
    display: none;
  }

  .btns-pr {
    display: none;
  }

  .cards .cards-box {
    display: flex;
    justify-content: center !important;
  }

  .cards .cards-box:nth-child(odd) {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .cards .cards-box:nth-child(odd) .card-container .card-content {
    transform: rotateY(180deg) !important;
  }

  .cards .cards-box .card-container .card-content .card-numbers {
    margin-left: 0px;
  }

  .form-pr {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mn {
    display: flex;
    flex-direction: column;
  }

  .social {
    margin-bottom: 20px;
  }

  .card-pr {
    margin-left: auto;
    margin-right: 50px !important;
  }
}

@media (max-width: 413px) {
  .cards .cards-box .card-container .card-content {
    text-align: left;
  }

  .cards .cards-box .card-container .card-content .card-numbers {
    flex-direction: column;
  }

  .cards .cards-box .card-container .card-content .card-numbers div {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .cards
    .cards-box
    .card-container
    .card-content
    .card-numbers
    div:nth-child(3) {
    margin-left: 0;
  }

  .cards .cards-box .card-container .card-content .link-btn {
    margin-top: 10px;
  }
  .solve-card {
    width: 200px !important;
    margin-left: -30px;
  }

  .swiper-item {
    margin-left: 45px;
  }
}
