@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main-pr {
  background: url(../assets/hero-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.active-btn {
  background-color: #2e7bff;
}

.active-mobilebtn {
  color: #2e7bff;
  background-color: white !important;
}

.btn-group button {
  border-color: white !important;
}

@media (max-width: 768px) {
  .nav-list {
    display: none;
  }

  .btns-pr {
    display: none;
  }
}
